<div class="yc-container yc-app-container" style="padding:128px 16px 0 16px; display: flex">
  <div class="yc-row-padding flex-fill flex-column" style="display: flex;">
    <div class="yc-col ">
      <h2>YANG Impact Analysis</h2>

      <form [formGroup]="form">
        <div class="form-group">
          <ngb-alert type="danger" (close)="onCloseError(i)" role="alert" *ngFor="let error of errors; let i=index">
            {{ error.error && error['error']['description'] ? error.error['description'] : 'The application has encountered an unknown error.'}}
          </ngb-alert>

          <label class="control-label" for="moduleNameInput">Module Name</label>
          <div class="form-inline">
            <tag-input
              [onTextChangeDebounce]="200"
              [onlyFromAutocomplete]="true"
              formControlName="moduleNamesList"
              theme="bootstrap"
              placeholder="Add next module name"
              secondaryPlaceholder="Fill the module name"
              class="form-control"
              (onAdd)="updateURL()"
              (onRemove)="updateURL()">
              <tag-input-dropdown [autocompleteObservable]="tagAutocomplete" [minimumTextLength]="3"></tag-input-dropdown>
            </tag-input>
            <label for="allowRfc" class="checkbox">
              <input id="allowRfc" formControlName="allowRfc" type="checkbox"/>
              <i class="skin"></i> <span>Include Ratified Standards</span>
            </label>
            <label for="allowSubmodules" class="checkbox">
              <input id="allowSubmodules" formControlName="allowSubmodules" type="checkbox"/>
              <i class="skin"></i> <span>Include Sub-modules</span>
            </label>
          </div>

          <br *ngIf="warnings">
          <ngb-alert type="warning" (close)="onCloseWarnings()" role="alert" *ngIf="warnings && showWarnings && warnings.length > 0">
            Data has been loaded with some warnings. <a (click)="onShowWarningsClick()">Show warnings</a>
          </ngb-alert>

          <div *ngIf="noModulesWarning">
            <strong>INFO:</strong> Select one or more module names from the list to show impact analysis.
          </div>

          <div class="yc-col flex-fill">
            <button 
              id="impactAnalysisSubmit" 
              class="btn btn-outline-primary px-ml-5" 
              [disabled]="loadingResults" 
              (click)="submitModuleName()">
              <div *ngIf="loadingResults" class="spinner-border text-primary" role="status"></div>
              Show Impact Analysis
            </button>
            <div *ngIf="visData" class="info-text">
              INFO: Use <strong>scroll</strong> to zoom in/out the topology. <strong>Click</strong> on the node to display details. <strong>Drag</strong> and move nodes to change the topology.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="yc-col flex-fill yc-relative">
      <div class="vis-container" style="position: absolute; top: 0; left: 170px; width: calc(100% - 170px); height: 100%;">
        <yc-impact-analysis-visualisation topologyId="yang-impact-analysis-vis"
                                          [topologyData]="visData"
                                          [topologyOptions]="visOptions"
                                          (clickNode)="onClickNode($event)"
                                          (clickCanvas)="onClickCanvas()"
                                          *ngIf="visData"
                                          #visComponent>
        </yc-impact-analysis-visualisation>
      </div>

      <div *ngIf="selectedNode" class="node-context-menu" style="top: {{contextMenuTop}}px; left: {{contextMenuLeft}}px;">
        <yc-node-context-menu [node]="selectedNode" (loadMore)="onLoadMore()"></yc-node-context-menu>
      </div>
      <div *ngIf="selectedCluster" class="node-context-menu" style="top: {{contextMenuTop}}px; left: {{contextMenuLeft}}px;">
        <yc-cluster-context-menu [clusterId]="selectedCluster" (showNodes)="onShowClusterNodesList(selectedCluster)">
        </yc-cluster-context-menu>
      </div>
      <div class="impact-vis-toolbar" *ngIf="visData" (click)="onToolbarClick()">
        <strong>Cluster by</strong>
        <ul class="vis-legend">
          <li>
            <label for="cluster_organization" class="checkbox">
              <input id="cluster_organization" type="checkbox" [(ngModel)]="clusterByOrganization"
                (change)="onClusterOrganizationsToggle($event.target['checked'])" />
              <i class="skin"></i> <span>organization</span>
            </label>
          </li>
          <li>
            <label for="cluster_maturity" class="checkbox">
              <input id="cluster_maturity" type="checkbox" [(ngModel)]="clusterByMaturity"
                (change)="onClusterMaturityToggle($event.target['checked'])" />
              <i class="skin"></i> <span>maturity</span>
            </label>
          </li>
        </ul>

        <strong>Show Organizations</strong>
        <ul class="vis-legend">
          <li *ngFor="let org of organizations; let i=index">
            <label for="org_{{org}}" class="checkbox" (mouseout)="onOrgMouseOut()" (mousemove)="onOrgMouseMove(org)">
              <input id="org_{{org}}" type="checkbox" [disabled]="clusterByOrganization || clusterByMaturity"
                [(ngModel)]="orgSelected[org]" (change)="onOrgToggle($event.target['checked'], org)" />
              <i class="skin"></i> <span style="color: {{orgColors[org]}}">{{org}}</span>
            </label>
          </li>
        </ul>
        <strong>Maturity level</strong>
        <ul class="vis-legend">
          <li *ngFor="let mat of maturities">
            <label for="mat_{{mat}}" class="checkbox" (mouseout)="onMatMouseOut()" (mousemove)="onMatMouseMove(mat)">
              <input id="mat_{{mat}}" type="checkbox" [disabled]="clusterByOrganization || clusterByMaturity"
                [(ngModel)]="matSelected[mat]" (change)="onMatToggle($event.target['checked'], mat)" />
              <i class="skin"></i> <span>{{mat}}</span>
            </label>
          </li>
        </ul>
        <strong>Direction</strong>
        <ul class="vis-legend">
          <li *ngFor="let dir of directions">
            <label for="mat_{{dir}}" class="checkbox" (mouseout)="onDirMouseOut()" (mousemove)="onDirMouseMove(dir)">
              <input id="mat_{{dir}}" type="checkbox" [disabled]="clusterByOrganization || clusterByMaturity"
                [(ngModel)]="dirSelected[dir]" (change)="onDirToggle($event.target['checked'], dir)" />
              <i class="skin"></i> <span>{{dir}}</span>
            </label>
          </li>
        </ul>

        <button id="rearrangeSubmit" class="btn btn-outline-primary px-ml-5" (click)="rearrange()">
          Rearrange graph
        </button>

      </div>

    </div>
  </div>
</div>
<yc-footer></yc-footer>
