<div class="yc-container yc-app-container" style="padding:128px 16px">
  <div class="yc-row-padding">
    <div class="yc-col">

      <h2>
        <a routerLink="/yangvalidator/" *ngIf="apiOverview">YANG Validator</a>
        <span *ngIf="!apiOverview">YANG Validator</span>
      </h2>
           
      <h3 *ngIf="apiOverview">API overview</h3>

      <div class="files-validation-container" *ngIf="apiOverview">
        <yc-api-overview></yc-api-overview>
      </div>

      <div class="files-validation-container" *ngIf="!apiOverview"
           [ngClass]="{'inactive': activeForm && activeForm !== 'files'}" (click)="setActiveForm('files')">
        <p>I have one or multiple YANG files and I want to validate them </p>

        <yc-validation-error [error]="filesError"></yc-validation-error>
        <ngb-alert type="warning" [dismissible]="false"
                   *ngIf="validationOutput && validationOutput.warning">{{ validationOutput.warning }}</ngb-alert>

        <yc-file-upload-form [filesPropertyName]="'attachments'" [allowedFileTypes]="['.txt', '.yang', '.zip']"
                             #filesForm (click)="setActiveForm('files')"></yc-file-upload-form>
        <button id="filesSubmit" class="btn btn-outline-primary mb-30" (click)="validateFiles()"
                *ngIf="filesForm.attachments.length">
          <div class="spinner-border text-primary" role="status" *ngIf="validatingFilesProgress"></div>
          Validate
        </button>
      </div>

      <hr *ngIf="!apiOverview">

      <div class="files-validation-container" *ngIf="!apiOverview"
           [ngClass]="{'inactive': activeForm && activeForm !== 'draft'}" (click)="setActiveForm('draft')">
        <p>
          I have the Internet Draft/RFC document and I want to validate it
        </p>

        <yc-validation-error [error]="draftError"></yc-validation-error>
        <yc-file-upload-form [filesPropertyName]="'attachments'" [allowedFileTypes]="['.txt']" [multipleFiles]="false"
                             #draftFileForm (click)="setActiveForm('draft')"></yc-file-upload-form>
        <button id="draftFilesSubmit" class="btn btn-outline-primary mb-30" (click)="validateDraftFile()"
                *ngIf="draftFileForm.attachments.length">
          <div class="spinner-border text-primary" role="status" *ngIf="validatingDraftFileProgress"></div>
          Validate
        </button>
      </div>

      <hr *ngIf="!apiOverview">

      <form [formGroup]="rfcNumberForm" *ngIf="!apiOverview"
            [ngClass]="{'inactive': activeForm && activeForm !== 'rfcNumber'}" (click)="setActiveForm('rfcNumber')">
        <div class="form-group" [customErrorMessages]="customErrorMessages">
          <p>
            I know the number of IETF RFC and I want to validate it
          </p>
          <yc-validation-error [error]="rfcError"></yc-validation-error>
          <label class="control-label" for="rfcNumberInput">IETF RFC number</label>
          <div class="form-inline">
            <input id="rfcNumberInput" formControlName="rfcNumber" type="text" class="form-control"
                   (click)="setActiveForm('rfcNumber')" (blur)="setActiveForm('rfcNumber')"
                   placeholder="RFC number, e.g. 7223"/>
            <button id="rfcNumberSubmit" class="btn btn-outline-primary px-ml-5"
                    (click)="setActiveForm('rfcNumber'); validateRfcNumber()">
              <div class="spinner-border text-primary" role="status" *ngIf="validatingRfcNumberProgress"></div>
              Validate
            </button>
          </div>
        </div>
      </form>

      <hr *ngIf="!apiOverview">

      <form [formGroup]="draftNameForm" *ngIf="!apiOverview"
            [ngClass]="{'inactive': activeForm && activeForm !== 'draftName'}" (click)="setActiveForm('draftName')">
        <div class="form-group">
          <p>
            I know the name of IETF Draft and I want to validate it
          </p>
          <yc-validation-error [error]="draftNameError"></yc-validation-error>
          <label class="control-label" for="draftNameInput">IETF Draft name</label>
          <div class="form-inline">
            <input id="draftNameInput" formControlName="draftName" type="text" class="form-control"
                   (click)="setActiveForm('draftName')" (blur)="setActiveForm('draftName')"
                   placeholder="Draft name, e.g. draft-ietf-netmod-syslog-model"/>
            <button id="draftNameSubmit" class="btn btn-outline-primary px-ml-5"
                    (click)="setActiveForm('draftName'); validateDraftName()">
              <div class="spinner-border text-primary" role="status" *ngIf="validatingDraftNameProgress"></div>
              Validate
            </button>
          </div>
        </div>
      </form>

      <hr *ngIf="!apiOverview">

      <div>
        <strong>Validators versions</strong>:
        <span *ngFor="let item of versions | keyvalue"><strong>{{item.key}}:</strong>
          {{item.value}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>

      <hr *ngIf="!apiOverview">
      
      <a [routerLink]="'api'" *ngIf="!apiOverview">I want to use the REST API for validating the IETF RFCs >></a>

      <div class="results-container" #validationResults>
        <yc-validation-result [validationOutput]="validationOutput"
                              *ngIf="validationOutput && !apiOverview"></yc-validation-result>
      </div>

    </div>
  </div>
</div>
<yc-footer></yc-footer>
